.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

.topBit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em;
}
.faceBit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  font-weight: bold;
}

.btmBit {
  padding: 1em;
  padding-top: 0;
  margin-left: 4.5em;
}

.date {
  font-style: italic;
  color: darkgray;
}

.icon {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 99999px;
  border: 3px solid rgba(from black r g b / 20%);
}
