.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightslategrey;
}

.links {
  display: flex;
  overflow: scroll;
}

.activeLink,
.inactiveLink {
  padding: 0 2rem;
}

.activeLink {
  color: oklch(from var(--accent) calc(l + 0.3) c h);
}

.inactiveLink {
  color: whitesmoke;
}

:is(.activeLink, .inactiveLink):hover {
  color: var(--accent);
}
